* {
	margin: 0;
	padding: 0;
}

.block-main {
	margin: 200px auto;
}

.btn-feedback {
	width: 200px;
	height: 50px;
	background-color: #7c00a7;
	color: #fff;
	font-family: sans-serif;
	font-size: 24px;
	padding: 20px;
	text-decoration: none;
	border-radius: 15px;
}

.btn-feedback:hover {
	background-color: #c13af0;
	color: #fff;
	text-decoration: none;
}

.content-form {
	width: 760px;
	height: 2150px;
	/* border: 1px solid red;*/
	margin: 0 auto;
}

.form-name {
	width: 650px;
	height: 275px;
	background-color: #FAFAFA;
	border: 2px solid #DBE2E8;
	margin: 20px auto;
	border-radius: 10px;
}

.form-name p {
	font-size: 14px;
	margin: 30px 0 0px 35px;
}

.inpt-f {
    width: 400px !important;
    max-width: 100%;
    height: 40px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin-top: 14px;
    padding: 0 0 0 15px;
    font-size: 20px;
    color: #000;
    font-size: 14px;
    margin: 10px 0 0 35px;
}

.star {
	color: red;
	margin: 0 0 0 5px;
}

input.radio-cat {
    margin: 0 25px 0 35px;
}

.label-radio {
    display: block;
    margin: -25px 0px 0 55px;
    font-size: 14px;
}

.text-radio {
	width: 200px;
	height: auto;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #000;
	outline: none;
	font-size: 14px;
	margin: 30px 0 30px 35px;
}

label.label-radio.other {
    margin: -60px 0 0 54px;
}

input.text-radio {
    margin: 32px 0 0 10px;
}

.form-select {
	width: 650px;
	height: 275px;
	background-color: #FAFAFA;
	border: 2px solid #DBE2E8;
	margin: 20px auto;
	border-radius: 10px;
}

.form-select p {
	font-size: 14px;
	margin: 30px 0 0px 35px;
}

select {
    width: 240px;
    height: 35px;
    margin: 25px 0 0 35px;
   	font-size: 14px;
    /* padding: 0; */
}

label.label-radio.for-select {
    margin: -5px 0 0 35px;
}

.form-rest {
	width: 650px;
	height: 150px;
	background-color: #FAFAFA;
	border: 2px solid #DBE2E8;
	margin: 20px auto;
	border-radius: 10px;
}

.form-rest p {
	font-size: 14px;
	margin: 30px 0 0px 35px;
}

.inpt-file {
    width: 265px;
    height: 30px;
    margin: 10px 0 0 33px;
}

input.inpt-name.inpt-rest {
    width: 327px;
}

input.inpt-name.inpt-rest-f {
    width: 285px;
}

input.inpt-name.inpt-rest-s {
    width: 240px;
}

input.inpt-name.inpt-rest-ph {
    width: 240px;
}

.form-about-me {
	width: 650px;
	height: 265px;
	background-color: #FAFAFA;
	border: 2px solid #DBE2E8;
	margin: 20px auto;
	border-radius: 10px;
}

.form-about-me p {
	font-size: 14px;
	margin: 30px 0 0px 35px;
}

.form-about-me textarea {
    width: 400px;
    height: 150px;
    margin: 10px 0 0 35px;
    padding: 0 0 0 38px;
    /* text-indent: 6px; */
    /* padding: 0; */
    font-size: 14px;
    border: 2px solid #000;
}

.btn-submit {
	width: 190px;
    max-width: 100%;
    height: 40px;
    background-color: #9e56b9;
    border: 1px solid #9e56b9;
    border-radius: 4px;
    margin-top: 14px;
    font-size: 14px;
    color: #fff;
    margin: 0px 0 0 55px;
}

.btn-submit:hover {
	background-color: #c13af0;
	color: red;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    margin: 0 0 0 10px;
}

i.fas.fa-file-image {
    font-size: 14px;
    margin: 0 -15px 0 37px;
}

label.lb-fm {
    margin: 0 0 0 0;
}

.inpt-icon {
    font-size: 20px;
}