* {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 18px;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container {
	width: 990px;
	height: 100%;
	margin: 50px auto;
}

/* header */

header {
	width: 990px;
	height: 70px;
	border-bottom: 1px solid #ccc;
}

.logo p {
	font-size: 22px;
	/* border-bottom: 1px solid red; */
}

/* menu */

.menu-center ul {
	list-style: none;
	float: left;
	margin: -35px 0 0 320px;
}

.menu-center li {
	display: inline-block;
	margin: 0 0 0 0;
}

.menu-center li a {
	text-decoration: none;
	display: inline-block;
	color: #000;
	padding: 10px;
	border-radius: 20px;
	background-color: #3eddaf;
	margin: 0 10px 0 0;
}

.menu-center li a:hover {
	color: #fff;
}

.login button {
	width: 110px;
	height: 39px;
	border-radius: 20px;
	text-decoration: none;
	float: right;
	margin: -35px 0 0 0;
	width: 110px;
	height: 39px;
	background-color: #fff;
	border: 1px solid #000;
	outline: none;
}

.login button:hover {
	border: 1px solid #ccc;
	cursor: pointer;
}

/* after-header */

.after-header-text {
	text-align: center;
	margin: -10px 0 0 0;
}

.after-header-text h1 {
	font-weight: normal;
	color: #404040;
	font-size: 30px;
	margin: 0 0 10px 0;
}

.after-header-text p {
	color: #a7a8ab;
	font-size: 16px;
}

.sign-up {
	margin: 35px 0 0 0;
}

.sign-up a {
	text-decoration: none;
	width: 192px;
	height: 40px;
	background-color: #ccc;
	padding: 10px;
	border-radius: 20px;
	color: #fff;
}

.sign-up a:nth-child(1) {
	background-color: #0075b4;
}

.sign-up a:nth-child(2) {
	background-color: #4964a7;
}

.sign-up a:hover {
	color: #000;
}

.after-header img {
	margin: 50px 0 0 0;
}

/* employers-candidat */

.employers-candidat {
	width: 990px;
	height: 600px;
	background-color: #f8f8f8;
	margin: -50px 0 0 0;
}

.tabs {
	text-align: center;
}

.tabs a {
	display: inline-block;
	margin: 55px auto;
	width: 160px;
	height: 40px;
	background-color: #f8f8f8;
	line-height: 35px;
	text-decoration: none;
	border: 1px solid #000;
	border-radius: 5px;
	color: #000;
}

.tabs a:hover {
	background-color: #fff;
}

.tabs a:active {
	background-color: #3eddaf;
}

#tab_item-f {
	width: 990px;
	height: 250px;
	/* background-color: red; */
	margin: -54px 0 0 0;
}

#tab_item-s {
	width: 990px;
	height: 515px;
	/* background-color: #000; */
	margin: -54px 0 0 0;
}

.tab_item-f-text {
	width: 400px;
	margin: 55px auto;
	text-align: center;
}

.tab_item-s-text {
	width: 400px;
	margin: 55px auto;
	text-align: center;
}

.desc-job {
	margin: 56px auto;
	text-align: center;
}

.desc-circle {
	width: 260px;
	height: 260px;
	border: 1px dotted #000;
	border-radius: 100%;
	display: inline-block;
	margin: 0 -15px 0 -15px;
}

.circle-img {
	width: 63px;
	height: 63px;
	/* background-color: #000; */
	display: inline-block;
	margin: 45px auto;
}

.circle-title p {
	font-size: 16px;
	margin: -28px 0 25px 0;
	text-transform: capitalize;
}

.circle-desc {
	width: 200px;
	height: 10px;
	margin: 0 auto;
	text-align: center;
}

.circle-desc p {
	color: #c8c8ca;
	font-size: 14px;
}

/* parallax */

.parallax {
	width: 990px;
	height: 117px;
	background-color: #3eddaf;
	margin: -50px auto;
}

.parallax-text {
	display: flex;
}

.parallax-text p {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 14px;
	margin: 50px 0 0 80px
}

.prx-btn {
	width: 122px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 20px;
	text-decoration: none;
	color: #fff;
	line-height: 38px;
	text-align: center;
	margin: 40px 0 0 10px;
}

.prx-btn:hover {
	color: #ccc;
}

/* reviews */

.reviews {
	width: 990px;
	height: 570px;
	background-color: #fff;
	margin: -50px auto;
	/* border: 1px solid #000; */
}

.reviews-title  {
	width: 300px;
	text-align: center;
	margin: 90px auto;
}

.reviews-block {
	text-align: center;
	margin: 90px 0 0 0;
}

.reviews-cont {
	width: 304px;
	height: 304px;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 0 5px 0 5px;
}

.reviews-img {
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: 100%;
	margin: 35px auto;
}

.reviews-img img {
	width: 100px;
	height: 100px;
}

.reviews-text {
	width: 227px;
	height: 86px;
	margin: -20px  auto;
}

.reviews-text p {
	color: #828186;
	text-align: center;
}

/* footer */

footer {
	width: 990px;
	height: 150px;
	background-color: #f9f9fb;
	margin: -50px auto;
	border-bottom: 5px solid #3eddaf;
}

.footer-slider {
	width: 900px;
	height: 70px;
	/* border: 1px solid #000;*/
	margin: 15px;
	box-sizing: border-box;
}

.f-slider-1, .f-slider-2, .f-slider-3,
.f-slider-4, .f-slider-5, .f-slider-6, .f-slider-7 {
	display: inline-block;
	margin: 45px 15px 0 20px;
}

/* .f-slider-1 {
	width: 92px;
	height: 20px;
	background-color: #fff;
}

.f-slider-2 {
	width: 102px;
	height: 92px;
	background-color: #fff;
}

.f-slider-3 {
	width: 54px;
	height: 39px;
	background-color: #fff;
}

.f-slider-4 {
	width: 28px;
	height: 24px;
	background-color: #fff;
}

.f-slider-5 {
	width: 132px;
	height: 33px;
	background-color: #fff;
}

.f-slider-6 {
	width: 90px;
	height: 27px;
	background-color: #fff;
}

.f-slider-7 {
	width: 58px;
	height: 26px;
	background-color: #fff;
} */